* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#center {
  display: flex;
  justify-content: space-between;
}

.pink {
  width: 100%;
  height: 500px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  width: 100%;
  height: 250px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange {
  width: 100%;
  height: 150px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
